<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
      <style>
          .alert-error {
            margin-top: 30px;
            padding: 10px;
            color: white;
            text-align: center;
            font-size: 21px;
      </style>
    <meta charset="utf-8">
    <title>Email</title>
    <link href="https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
  </head>
  <body>
    <main>
      <p class="emailtitle" style="text-align:center;">Log in</p>
      <nav>
        <ul class="listemailform">
          <li class="listemailform1"><a href="{{ url_for('home')}}">Home</a></li>
        </ul>
      </nav>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, msg in messages %}
                        <div class="alert-{{ category }}" style="color:white; font-size: 20px; text-align:center">{{ msg }}</div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
      <form class="login" action="#" method="POST">
          <p class="login-text">Email:</p>
          <p><input type="email" name="user_email" /> </p>
          <p>Password:</p>
          <p><input type="password" name="user_password" /> </p>
          <p><input type="submit" name="login_button" value="Login" /> </p>
          <p>New Users - Register Below</p>
          <p><input type="submit" name="register_button" value="Register" /></p>
      </form>

    </main>
  </body>
</html>
