{% extends "mstrBase.html" %}
{% block title%}User{% endblock %}
{% block content %}
<h5>Welcome, {{ current_user.username }}!</h5>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/main.css">
<div class="container">
<div class="row">
	<!-- BEGIN INBOX -->
	<div class="col-md-12">
		<div class="grid email">
			<div class="grid-body">
				<div class="row">
					<!-- BEGIN INBOX MENU -->
					<div class="col-md-3">
						<h2 class="grid-title"><i class="fa fa-inbox"></i> Notes</h2>
						<a class="btn btn-block btn-link"><a href="{{ url_for('newNote') }}">&nbsp;&nbsp;NEW NOTE</a>
                        <!-- <a class="btn btn-block btn-primary" data-toggle="modal" data-target="#compose-modal"><i class="fa fa-pencil"></i>&nbsp;&nbsp;NEW MESSAGE</a> -->

<!--								<li><a href="#"><i class="fa fa-star"></i> Starred</a></li>
<li><a href="#"><i class="fa fa-bookmark"></i> Important</a></li> MDB -->
<!--								<li><a href="#"><i class="fa fa-pencil-square-o"></i> Drafts</a></li>
<li><a href="#"><i class="fa fa-folder"></i> Spam (217)</a></li> MDB -->
							</ul>
						</div>
					</div>
					<!-- END INBOX MENU -->

					<!-- BEGIN INBOX CONTENT -->
					<div class="col-md-9">
						<div class="row">
							<div class="col-sm-6">
								<label style="margin-right: 8px;" class="">
									<div class="icheckbox_square-blue" style="position: relative;"><input type="checkbox" id="check-all" class="icheck" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"><ins class="iCheck-helper" style="position: absolute; top: -20%; left: -20%; display: block; width: 140%; height: 140%; margin: 0px; padding: 0px; border: 0px; opacity: 0; background: rgb(255, 255, 255);"></ins></div>
								</label>
<!--								<div class="btn-group">
									<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
										Action <span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="#">Mark as read</a></li>
										<li><a href="#">Mark as unread</a></li>
										<li><a href="#">Mark as important</a></li>
										<li class="divider"></li>
										<li><a href="#">Report spam</a></li>
										<li><a href="#">Delete</a></li>
									</ul>
								</div>
                            </div>  -->

						</div>

						<div class="padding"></div>

						<div class="table-responsive">

							<!--{% with messages = get_flashed_messages(with_categories=true) %}
							{% if messages %}
							{% for searched_for, message in messages %}
      							<h5 id="searchFlash" class="{{ searched_for }}">{{ message }}</h5>
   						 	{% endfor %}
							{% endif %}
							{% endwith %}
							{% block display %}-->

							<table class="table">
								<tbody>
                                {% for note in notelist %}
                                <tr>
									<td class="time"><a href="{{ url_for('readnotes', noteid=note.id) }}" style="background-color:#FFFFFF;color:#000000;text-decoration:none">{{note.date}}</a></td>
									<td class="text"><a href="{{ url_for('readnotes', noteid=note.id) }}" style="background-color:#FFFFFF;color:#000000;text-decoration:none">{{note.body}}</a></td>
								</tr>
                                {% endfor %}
							</tbody></table>
                            {% endblock %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- END INBOX -->
</div>
</div>
{% endblock %}