{% extends "mstrBase.html" %}
{% block title%}User{% endblock %}
{% block content %}
<h5>Welcome, {{ current_user.username }}!</h5>
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="../static/main.css">

	<!-- BEGIN INBOX -->
<form method = "post" action = "#">
	<input type = "submit" name = "button" value = "SEECMail">
	<br>
	<input type = "submit" name = "button" value = "Notes">

</form>

	<!-- END INBOX -->
{% endblock %}