<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial=scale=1">
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
    <title>About</title>
  </head>


  <body>
    <header>
      <div>
        <a href="{{ url_for('home')}}">
          <img src="{{ url_for('static',filename='logo.png') }}" alt="group 6 logo" class="logo">
        </a>
        <nav>
          <ul>
            <li><a href="{{ url_for('home')}}">Home</a></li>
          </ul>
        </nav>
      </div>
    </header>

<section class="mainscreen">
  <div class="container1">
    <h1 class="title">Email Client Project</h1>
    <section class="textbox-base">
        <div class="textbox">
          <h1>about us</h1>
            <p>We are students from Intro to Software Engineering class working on an Email Client Project. This project will be completed throughout this Fall Semester by Justin Paulk, Matthew, Myles Roddy, and Raysita</p>
        </div>
  </div>
</section>
</body>
</html>
